<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Expense Tracker</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <div>
            <h1>Welcome to Room Expense Tracker</h1>
            <div class="link-container">
                <a href="/add-expense">Add Expense</a>
                <a href="/dashboard">View Dashboard</a>
                <a href="/calculator">Simple Calculator</a>
                <li><a href="/login">Logout</a></li>
            </div>
        </div>
    </div>
</body>
</html>
